{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Trips</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/flight">航班</a></li>
        <li><a href="/hotel">宾馆</a></li>
        <li><a href="/car">出租车</a></li>
        <li><a href="/customer">客户</a></li>
        <li><a href="/reservations">预定</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{{util.flashed_messages(dismissible=True)}}
<div class="container theme-showcase" style="margin-top: 100px">
  {% block container %}{% endblock %}
</div>
{% endblock %}
