{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Trips{% endblock %}

{% block container %}
<div>
  <form class="form-inline" method="get">
      <a class="btn btn-default" style="margin-right:50px" type="button" href={{ url_for('flight_edit',id=0) }}>新建</a>
      从
      <input class="form-control" name="from" type="text" value="{{frm}}">
      到
      <input class="form-control" name="to" type="text" value="{{to}}">
      <input class="btn btn-default" type="submit" value="查询">
  </form>
</div>
<table class="table" style="margin-top:10px">
<tr>
    <th>航班号</th>
    <th>价格</th>
    <th>剩余座位</th>
    <th>出发城市</th>
    <th>目的城市</th>
    <th></th>
</tr>
{% for f in flights %}
<tr>
    <td>{{ f.flightNum }}</td>
    <td>{{ f.price }}</td>
    <td>{{ f.numAvail }}/{{ f.numSeats }}</td>
    <td>{{ f.fromCity }}</td>
    <td>{{ f.arivCity }}</td>
    <td>
        <a class="btn btn-default btn-sm" type="button" href={{ url_for('flight_edit',id=f.id) }}>编辑</a>
        <a class="btn btn-default btn-sm" type="button" href={{ url_for('flight_delete',id=f.id) }}>删除</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
