{% extends "base.html" %}

{% block container %}
<h1>宾馆管理</h1>
<div>
  <form class="form-inline" method="get">
      <a class="btn btn-default" style="margin-right:50px" type="button" href={{ url_for('hotel_edit',id=0) }}>新建</a>
      城市：
      <input class="form-control" name="location" type="text" value="{{loc}}">
      <input class="btn btn-default" type="submit" value="查询">
  </form>
</div>
<table class="table" style="margin-top:10px">
<tr>
    <th>城市</th>
    <th>价格</th>
    <th>剩余房间</th>
    <th></th>
</tr>
{% for h in hotels %}
<tr>
    <td>{{ h.location }}</td>
    <td>{{ h.price }}</td>
    <td>{{ h.numAvail }}/{{ h.numRooms }}</td>
    <td>
        <a class="btn btn-default btn-sm" type="button" href={{ url_for('reservation_add',type=1,id=h.id) }}>预定</a>
        <a class="btn btn-default btn-sm" type="button" href={{ url_for('hotel_edit',id=h.id) }}>编辑</a>
        <a class="btn btn-default btn-sm" type="button" href={{ url_for('hotel_delete',id=h.id) }}>删除</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
